$block: "screen-time";

.#{$block} {
  &__container {
    @apply flex flex-col justify-center items-center rounded-full w-[300px] h-[300px] mt-[45px];
    background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
    cursor: default;
  }

  &-value__container {
    @apply flex flex-col justify-center items-center w-[266px] h-[266px] rounded-full;
    background: #161932;
  }
  &-timer__container {
    @apply flex flex-col justify-center items-center  w-[248px] h-[248px] rounded-full;

    &--value {
      @apply flex flex-col justify-center items-center font-bold text-[80px] text-secondary;
      letter-spacing: -5px;
    }
    &--btn {
      > button {
        @apply text-sm text-secondary tracking-[15px] leading-[20px] font-bold;
        text-indent: 15px;
      }
    }
  }
}
