$block: "btn";

.#{$block} {
  @apply flex justify-center;

  &--primary {
    @apply w-[140px] h-[53px] text-white  opacity-100 items-center rounded-3xl relative top-[18px] left-[90px] md:top-[63px] md:left-[200px] font-bold;

    &.primary-color {
      @apply bg-custom-red;
    }
    &.secondary-color {
      @apply bg-custom-blue text-primary;
    }
    &.tertiary-color {
      @apply bg-custom-pink;
    }
  }

  &--disabled {
    @apply w-[120px] h-[48px] text-secondary opacity-[0.4] items-center text-xs md:text-sm;
  }
  &--active {
    @apply text-primary opacity-100 w-[120px]  rounded-full font-bold text-xs md:text-sm;
    transition: all 0.3s ease;
    z-index: 1;
  }

  &--font_item {
    @apply flex items-center justify-center w-10 h-10 rounded-full cursor-pointer bg-white text-primary;
    transition: all 0.3s ease-in-out;

    &.active {
      @apply bg-primary text-white font-bold;
    }

    &:first-child {
      @apply font-sans;
    }
    &:nth-child(2) {
      @apply font-serif;
    }
    &:last-child {
      @apply font-mono;
    }
  }

  &--color_item {
    @apply flex items-center justify-center w-10 h-10 rounded-full cursor-pointer;

    svg {
      transition: all 0.5s ease;
      transform: scale(0);
    }

    &.active {
      svg {
        transition: all 0.5s ease;
        transform: scale(1);
      }
    }

    &:first-child {
      @apply bg-white text-primary;
      background: #f87070;
    }
    &:nth-child(2) {
      @apply bg-white text-primary;
      background: #70f3f8;
    }
    &:last-child {
      @apply bg-white text-primary;
      background: #d881f8;
    }
  }
}
