$block: "btn";

.#{$block} {
  @apply flex justify-center items-center rounded-full  font-bold text-secondary opacity-[0.4];

  &--disabled {
    @apply w-[120px] h-[48px];
  }
  &--active {
    @apply text-primary opacity-100 w-[120px] h-[48px];
    transition: all 0.3s ease;
    z-index: 1;
  }
}
